body {
  background-color: #fafafa;
  margin: 0;
}

.bodySettings {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.tableHeadSettings {
    background-color: #4a4a4a;
}

.tableCell {
    color: white !important;

}